
main {
  background: url("https://wallpaperaccess.com/full/8621.jpg");
  height: 100vh;
  width: 100vw;
}
/* Change inner and cardstyle heights and widths together */
/* .inner is used for the individual sides of the cards while cardstyle is used for parent div */
.card {
  /* position: absolute; */
  height: 14vw;
  width: 10vw;
  float: left;
  margin: 1vw;
}

.btn {
  position: absolute;
  top: 50%;
  left: 20%;
  /* top: 50%;
  left: 60%; */
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  background-color: #555;
  color: white;
  font-size: 1vw;
  border: none;
  cursor: pointer;
  /* border-radius: 5px; */
  width: 8vw;
  height: 2vw;
  display: none;

}

.frontImg {
  /* position: absolute; */
  height: 14vw;
  width: 10vw;
  float: left;
  margin: 1vw;
  /* overflow: auto; */
}

.frontDiv {
  position: relative;
  height: 14vw;
  width: 10vw;
  float: left;
  margin: 1vw;
}

.overlay {
  position: absolute;
  height: 14vw;
  width: 10vw;
  float: left;
  margin: 1vw;
  background: rgba(0, 0, 0, 0);
  border-radius: 4px;
  /* transition: background 0.5s ease; */
}

/* .overlay:hover {
  background: rgba(0, 0, 0, .3);
} */

.overlay:hover + .btn, .btn:hover {
  display: inline-block;
}

.overlay:hover {
  background: rgba(0, 0, 0, .3);
}

.btn:hover + .overlay{
  background: rgba(0, 0, 0, .3);
}

.back {
  /* position: absolute; */
  height: 14vw;
  width: 10vw;
  float: left;
  margin: 1vw;
}


.cardPack {
  /* overflow: auto; */
  /* margin: 8px; */
  padding: 35vh 0%;
}

.selectCard {
  display: none;
}

